<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header class="class-header">

      <div class="div-controler"></div>

      <div class="txt-center">
        <h1>Aurora Publicações</h1>
      </div>

      <div class="info-login">
        <% if admin_signed_in? %>
          <!-- Se o admin estiver logado, exibe a mensagem de boas-vindas e o botão de logout -->
          <p>Bem-vindo, <%= current_admin.email %>!</p>
        <% else %>
          <!-- Se o admin não estiver logado, exibe o botão de login -->
          <%= link_to 'Login', new_admin_session_path %>
        <% end %>
      </div>

    </header>

    <%= yield %> 

  </body>
</html>
